@model SDA.WebApp.ViewModels.HeaderAduanaFormViewModel
@{
    ViewBag.Title = "Aduana";
}
<h3>Carga de Registros de Aduana</h3>
<hr />
@using (Html.BeginForm("Upload", "HeaderAduana",
                FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <h4>Por favor llenar los siguientes campos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.HeaderAduana.NombreArchivo)
            <input name="uploadedFile" type="file" class="form-control btn btn-info" required />
            @Html.ValidationMessageFor(model => model.HeaderAduana.NombreArchivo, "",
               new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HeaderAduana.Comentarios)
            @Html.TextAreaFor(m => m.HeaderAduana.Comentarios,
               new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.HeaderAduana.Comentarios, "",
               new { @class = "text-danger" })
        </div>


        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.HeaderAduana.headerAduanaId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Subir Archivo de Aduana" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-default" })
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
            });
        });
    </script>

}



