@model SDA.WebApp.Models.Seccion

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de Sección</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.seccionId }, new { @class="btn btn-default" }) 
    @Html.ActionLink("Regresar", "Index", new { }, new { @class="btn btn-primary" })
</p>
