@model SDA.WebApp.ViewModels.UploadDocumentoViewmodel

@{
    ViewBag.Title = "Subir Documento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Subir Documento para Contingente @Model.Contingente.Descripcion</h2>
<hr />
@using (Html.BeginForm("UploadDocumentoContingenteVario", "DocumentoContingente",
                            FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <h4>Por favor llenar los siguientes campos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Contingente)
            <input name="documento" type="file" class="form-control btn btn-success" />
            @Html.ValidationMessageFor(model => model.Contingente, "",
               new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Comentarios)
            @Html.TextAreaFor(m => m.Comentarios,
               new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Comentarios, "",
               new { @class = "text-danger" })
        </div>


        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Contingente.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Subir Documento" class="btn btn-primary" />
            </div>
        </div>
    </div>



}

<div>
    @Html.ActionLink("Cancelar", "Index", new { id = Model.Contingente.Id },
    new { @class = "btn btn-default" })
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
            });
        });
    </script>

}