@model SDA.WebApp.ViewModels.AsignacionIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Ejecución de Asignaciones @Model.DetalleContingente.anio</h2>
<h3>@Model.DetalleContingente.Contingente.TipoContingente.nombre</h3>

<p>


    
    @*@Html.ActionLink("Regresar", "SummaryContingentes", "Contingente", new { year = ViewBag.detalle.anio }, new { @class = "btn btn-default" })*@

</p>
<table class="table table-bordered table-hover" id="tabla">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Fecha y Hora de Ejecución
            </th>
            <th>
                Usuario
            </th>
            <th>
                Cerrada?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Asignaciones)
            {
            <tr data-id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEjecucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cerrada)
                </td>
                
                <td>


                    @Html.ActionLink("Consultar", "Index", "DetalleAsignaciones",
                           new { id = item.Id },
                           new { @class = "btn btn-primary" })



                </td>


            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#tabla').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontro ningun registro - lo sentimos",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros",
                    "infoFiltered": "(filtrado desde _MAX_ total de registros)",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

            //$("#btnAsignacion").on('click', function (event) {

            //    bootbox.confirm("En realidad desea ejecutar el proceso de Asignación de Contingente?",
            //        function (result) {
            //            if (!result)
            //                event.preventDefault();
            //        });

            //});




        });
    </script>
}

