@model IEnumerable<SDA.WebApp.ViewModels.IndexSolicitudes>

@{
    ViewBag.Title = "Reasignar";
}

<h2>@ViewBag.tipoContingente.nombre @ViewBag.detalle.anio</h2>

<p>
    @Html.ActionLink("Generar Reasignación", "CalcularReasignacion", new { }, new { @class = "btn btn-primary"})
</p>
<table class="table table-bordered table-hover" id="tabla">
    <thead>
      <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contribuyente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumenSolicitado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumenAsignado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumenImportado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumenARedistribuir) 
        </th>
          <th>
              @Html.DisplayNameFor(model => model.VolumenSolicitadoReasignacion) 
          </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumenReasignacion)
        </th>
          <th>
              @Html.DisplayNameFor(model => model.Historico)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.RetirarReasignacion)
          </th>
          <th></th>
    </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Contribuyente.nombre)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.VolumenSolicitado)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.VolumenAsignado)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.VolumenImportado)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.VolumenARedistribuir)
                </td>
                <td style="text-align:right">
                    @if (item.Decrementa)
                    {
                        <span class="label label-warning">
                            @Html.DisplayFor(modelItem => item.VolumenSolicitadoReasignacion)
                        </span>
                    }
                    else if(item.Incrementa)
                    {
                        <span class="label label-success">
                            @Html.DisplayFor(modelItem => item.VolumenSolicitadoReasignacion)
                        </span>
                    }
                    else
                    {
                        <span>
                            @Html.DisplayFor(modelItem => item.VolumenSolicitadoReasignacion)
                        </span>
                    }


                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.VolumenReasignacion) 
                                        @*@(String.Format("{0} {1}", item.VolumenReasignacion.ToString(),
                    (item.VolumenSolicitado > item.VolumenAsignado - item.VolumenImportado) ?
                                        "<span class='badge'>Mayor</span>" : "<span class='badge'>Menor</span>"))*@ 
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Historico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetirarReasignacion)
                </td>
                <td>
                    @if (item.VolumenReasignacion > 0.00)
                    {
                        @Html.ActionLink("Licencias", "IndexReasignacion", "Licencia",
                          new { solicitudId = item.Id }, new { @class = "btn btn-warning" })
                    }
                    
                </td>
                
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabla').dataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontro ningun registro - lo sentimos",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros",
                    "infoFiltered": "(filtrado desde _MAX_ total de registros)",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}


