@model IEnumerable<SDA.WebApp.ViewModels.SummaryContingentesViewModel>

@{
    ViewBag.Title = "SummaryContingentes";
}

<h3>Resumen de Contingentes @ViewBag.year</h3>
@if(DateTime.Now.Year == ViewBag.year)
{
    @Html.ActionLink((DateTime.Now.Year + 1).ToString(), "SummaryContingentes", new { year = (DateTime.Now.Year + 1) }, new { @class = "btn btn-info" })
}
else
{
    @Html.ActionLink(DateTime.Now.Year.ToString(), "SummaryContingentes", new { year = (DateTime.Now.Year) }, new { @class = "btn btn-info" })
}


<table class="table table-bordered table-hover" id="tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoNuevos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoHistoricos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asignado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solicitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Redistribucion)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Reasignacion)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.DisponibleNuevos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisponibleHist)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.UnidadMedida)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.MontoTotal)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.MontoNuevos)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.MontoHistoricos)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Asignado)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Solicitado)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Importado)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Redistribucion)
                </td>
                @*<td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Reasignacion)
                </td>*@
                @*<td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.DisponibleNuevos)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.DisponibleHist)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadMedida.nombre)
                </td>
                <td style="width:8%">
                    <a href="@Url.Action("Index", "Solicitud", new { detalleContingenteId = item.DetalleContingenteId })">
                        <i class="glyphicon glyphicon-inbox"></i>
                        <span class="sr-only">Solicitudes</span>
                    </a>
                    &nbsp;
                    <a href="@Url.Action("ResumeChart",
                            new { detalleContingenteId = item.DetalleContingenteId,
                                year = ViewBag.year })">
                        <i class="glyphicon glyphicon-stats"></i>
                        <span class="sr-only">Reasignaciones</span>
                    </a>

                    &nbsp;
                    <a href="@Url.Action("Reasignar", "Solicitud", new { detalleContingenteId = item.DetalleContingenteId })">
                        <i class="glyphicon glyphicon-thumbs-up"></i>
                        <span class="sr-only">Reasignaciones</span>
                    </a>
                    
                </td>

            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabla').dataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontro ningun registro - lo sentimos",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros",
                    "infoFiltered": "(filtrado desde _MAX_ total de registros)",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}


