@model IEnumerable<SDA.WebApp.Models.UnidadMedida>

@{
    ViewBag.Title = "Unidades de medida";
}

<h2>Unidades de Medida</h2>

<p>
    @Html.ActionLink("Crear nueva unidad", "Create", new { }, new { @class="btn btn-primary" })
</p>
<table class="table table-bordered table-hover" id="tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unidadBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.factor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unidadBase)
                </td>
                <td style="text-align:right">
                    @String.Format("{0:n1}", item.factor)
                    @*@Html.DisplayFor(modelItem => item.factor)*@
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.unidadMedidaId }, new { @class="btn btn-default"}) 
                    @Html.ActionLink("Detalles", "Details", new { id = item.unidadMedidaId }, new { @class = "btn btn-info" }) 
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabla').dataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontro ningun registro - lo sentimos",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros",
                    "infoFiltered": "(filtrado desde _MAX_ total de registros)",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
    }
