@using MvcFlashMessages
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SDA Ministerio de Economía</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Chart")
    <!-- jQuery UI CSS Reference -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    @*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css">*@
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/flash-messages.css")" />
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        <span>@Html.RenderFlash()</span>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ministerio de Economía</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/jquery-ui")*@
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>

    <script type="text/javascript">
            $(function () {
                $('.date-picker').datepicker();
            })
    </script>
</body>
</html>
